ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #070606;
}

.left {
  user-select: none;
  width: 240px;
  height: 100vh;
  background: #fffdfa;
  position: relative;
}

.leftWrap {
  width: 100%;
  height: 100%;
}

.avatarWrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid #070606;
  border-radius: 666px;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 16px;
}

.menuWrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
}

.menuItem {
  font-size: 16px;
  font-weight: 300;
  margin-left: -10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.libraryWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.librarylinks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.libraryMenuItem {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.libraryMenuItemAdditional {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
  width: 100%;
}

.librarySign {
  font-size: 18px;
}

.settings {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-decoration: none;
  color: #070606;
  font-weight: 300;
  font-size: 16px;
}

.settingsButton {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 16px;
}

.right {
  width: 100%;
  height: 100%;
  background: rgb(247, 247, 245);
  box-shadow: rgb(0 0 0 / 2%) -1px 0px;
}
