.primary {
  width: 100%;
  color: #FFFDFA;
  border: 1px solid rgba(7, 6, 6, 0.1);
  padding: 12px;
  background: rgba(7, 6, 6, 1);
  border-radius: 6px;
  font-size: 16px;
}

.switch {
  width: 90px;
  color: #070606;
  font-size: 16px;
  border: none;
  background: none;
  text-decoration: underline;
}
